<div class="container-fluid main-board">
  <div class="row">
    <h1 class='text-center'> <%=@board.title %> </h1>
  </div>
  <div class="row board-body">
    <div class="col-md-3">
      <h3>Backlog</h3>
    </div>
    <div class="col-md-3">
      <h3>Current Sprint</h3>
    </div>
    <div class="col-md-3">
      <h3>In Progress</h3>
    </div>
    <div class="col-md-3">
      <h3>Done</h3>
    </div>
  </div>
</div>